<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{collection}}</title>

  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="stylesheet" type="text/css" href="/static/sketch.css">
</head>

<body>
  <header>
    <h1 id="title"><a href="/">{{collection}}</a></h1>

    <h3>{{sketch}}</h3>
  </header>

  <iframe src="/sketch/{{sketch}}/index.html" frameborder="0"></iframe>
</body>

</html>